<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">

    <title>Projeto FINAL</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>Painel Administrativo</h1>

            <form method='POST' action='/home'>
                <div class="label-float">
                    <input type="text" id="usuario" placeholder="" name="usuario" required>
                    <label for="usuario">Usuário</label>
                </div>

                <div class="label-float">
                    <input type="password" id="senha" placeholder="" name="senha" required>
                    <label for="usuario">Senha</label>
                </div>

                <div class="justify-center">
                    <button>Entrar</button> 
                </div>

                <div>
                    <hr>
                </div>

            </form>

            <p>Entre com seu usuário e senha para acesser o painel administrativo</p>

        </div>
    </div>
   
    <script src="../static/js/script.js"></script>
</body>
</html>